<% provide(:title, "シフト承認") %>
<div class="row">
  <div class="col-md-6">
    <p>店舗選択</p>
    <p>従業員選択</p>
    <p>年月日選択</p>
    <p>承認者選択（admin権限ユーザ選択）</p>
  </div>
  <div class="col-md-6">
    <h3>申請されたシフト欄</h3>
    <div>
      <table class="table-bordered table-striped table-responsive">
        <tr>
          <th>申請者</th>
          <th>店舗</th>
          <th>申請日</th>
          <th>申請時間帯</th>
          <th>承認可否</th>
        </tr>
        <% @schedules.each do |schedule| %>
          <tr class="schedules_<%= schedule.id %>">
            <%= render partial: "schedules/approve", locals: { schedule: schedule} %>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
