<td>
  <% if schedule.approved == false %>未承認<% else %>承認済<% end %>
</td>
<td>
  <% if schedule.approved == false %>
    <%= link_to "承認する", schedule, method: :patch, remote: true, class:"button" %>
  <% else %>
    <%= link_to "承認解除", schedule, method: :patch, remote: true, class:"button" %>
  <% end %>
</td>
