<%# 申請シフトを時間枠ごとにカウント（不足シフト確認用）%>
<% @timezones.each_with_index do |timezone,i| %><%# "A"はTimezoneTableからEach.doで取り出し%>
  <tr>
    <th><%= timezone %>申請数</th>
    <% @beginningtoendday.each do |day| %>
      <td><%= countschedule_check(@user_and_schedules_first_schedules_first.store_id, day, timezone, @searched_approved) %></td>
    <% end %>
    <% if i == 0 %>
      <th class="user-salary"><%= salary_calculation_of_store(@searched_store, @beginningday, @endday, @searched_approved) %></th>
    <% end %>
  </tr>
<% end %>
