<% unless user_signed_in? %>
  <div class="flex common-justify-content-center">
    <%= link_to 'ゲストログイン（一般権限）', pages_guest_sign_in_path, method: :post, class: "btn-lg btn-success" %>　
    <%= link_to 'ゲストログイン（店長権限）', pages_guest_admin_sign_in_path, method: :post, class: "btn-lg btn-success" %>
  </div>
<% end %>
<br>