<% if user_signed_in? %>
  <div class="flex common-justify-content-center">
    <%= bootstrap_form_with(model: @inquiry, local: true) do |f| %>
      <%= f.label :アプリ改善要望欄 %>
      <p>例：この機能を改善して欲しい〜など</p>
      <%= f.text_area :request_comment, :size => "80x2", hide_label: true %>
      <%= f.submit "送信", class: "btn btn-primary" %>
    <% end %>
  </div>
<% end %>
<br>