<% if user_signed_in? %>
  <div class="">
    <h3>お知らせ</h3>
    <p style="text-align:left;">
      当サイト使用時に「We're sorry, but something went wrong.」と出るときは、1時間程度時間を空けてからアクセスして下さい。
      <br>
      2021/02/13　入店日付を2010年から選択できるようにしました。
    </p>
  </div>
<% end %>
<br>