<% if user_signed_in? %>
  <div class="">
    <h3>お知らせ</h3>
    <p style="text-align:left;">
      当サイト使用時に「We're sorry, but something went wrong.」と出るときは、1時間程度時間を空けてからアクセスして下さい。
      <br>
      <br>
      2021/02/13
      <br>
      ・入店日付を2010年から選択できるようにしました。
      <br>
      ・カレンダーの並び順を修正しました。（エクセルのシフト表と同じ形に修正。入店日付昇順に設定。）
      <br>
    </p>
  </div>
<% end %>
<br>