<% if user_signed_in? %>
  <div class="">
    <h3>お知らせ</h3>
    <p style="text-align:left;">
      ・申請したシフトは「シフト申請」ページ下部「申請済みシフト欄」の検索ボタンを押下すると確認できます。
      <br>
      ・当サイト使用時に「We're sorry, but something went wrong.」と出るときは、1時間程度時間を空けてからアクセスして下さい。
      <br>
      <br>
      2021/03/03
      <br>
      ・フラッシュメッセージ出現時にMENUと重なってしまう現象を修正しました。
      <br>
      ・新規登録ボタンの横にログインボタンを追加しました。
      <br>
      ・シフト申請ボタン位置を調整しました。（スマートフォンのみ）
      <br>
      ・サイトアイコンを変更しました。（ブックマーク時のアイコン等）
      <br>
      <br>
      2021/02/24
      <br>
      ・カレンダーの今日の日付の色を変更しました。
      <br>
      ・ボタンの色を修正しました。
      <br>
      <br>
      2021/02/17
      <br>
      ・スマートフォンで当サイト使用時、画面上部に「PC表示」、「スマートフォン表示」のボタンを追加しました。
      <br>
      ・PC表示にすると画面の縮小が可能になります。
      <br>
      <br>
      2021/02/13
      <br>
      ・入店日付を2010年から選択できるようにしました。
      <br>
      ・カレンダーの並び順を修正しました。（エクセルのシフト表と同じ形に修正。入店日付昇順に設定。）
      <br>
    </p>
  </div>
<% end %>
<br>