<% provide(:title, "ホーム") %>
<div class="center jumbotron">

  <p class="toppage-font">testパソコン、スマートフォンからシフト申請ができるサイトです。</p><br>

  <div class="row">
    <div class="col-md-8"><%= image_tag 'calender.png' ,style: "width: 100%;"%></div>
    <div class="col-md-4"><p class="toppage-font"><br>店舗ごとのシフト状況がひと目でわかる！</p></div>
  </div>

  <br>
  <br>
  <br>

  <div class="row">
    <div class="col-md-4"><p class="toppage-font"><br>シフトの申請も簡単に！<br>申請したシフトも一覧で確認！</p></div>
    <div class="col-md-8"><%= image_tag 'request.png' ,style: "width: 100%;"%></div>
  </div>

  <% unless user_signed_in? %>
    <div class="flex common-justify-content-center">
      <%= link_to "新規登録して始める", new_user_registration_path, class: "btn btn-lg btn-primary"%>
    </div>
  <% end %>
</div>
