@import "bootstrap-sprockets";
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import "toastr";

/* universal */

.flex{
  display: flex;
  flex-wrap: wrap;
}

.common-justify-content-center{
  justify-content: center;
}

body {
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: gray;
}

.field{
  width: 50%;
  margin: 0 auto;
}

.actions{
  text-align: center;
}

.approved{
  color: black;
  font-weight: 900;
}

.not-approved{
  color: gray;
  font-weight: 900;
}

//アラートの下余白を削除
.alert{
  margin-bottom: 0px;
}

/* ボタン類 */
.btn{
  background-color: black;
  border-color:black; //枠の色を上書き
  color: white;
  &:hover{
    opacity:0.8;
    color: white;
  }
}

.account_delete_button{
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: darkred;
  color: white;

  &:hover{
    opacity:0.8;
  }
}

//検索ボタン
.ransack-submit{
  input[type="submit"]{
    margin-top:1rem;
    margin-bottom:1rem;
    width:100px;
    line-height:35px;
    font-size:16px;
    background-color:#16A6B6;
    border:none;
    border-radius: 5px;
    color:#fff;
    cursor: pointer;
    transition: 0.3s;
    display:block;
    &:hover{
      opacity:0.8;
    }
  }
}

.guest-login{
  margin: 1rem;
}

#toast-container{
  margin-top: 5rem;
}

//スマホ対応
@media screen and (max-width: 768px) {
  .field{
    width: 100%;
    margin: 0 auto;
  }
}

//PC対応
@media screen and (min-width: 768px) {
  .row{
    margin: 0rem 2rem;
  }
}
