// @import "normalize";
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import "toastr";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */

body {
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  // line-height: 0.7em;
}

/* header */

#logo {
  margin-left: 1rem;
  float: left;
  // margin-right: 10px;
  font-size: 1.7em;
  color: white;
  // text-transform: uppercase;
  letter-spacing: -1px;
  // padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* Common */

.form-control{
}

.field{
  width: 50%;
  margin: 0 auto;
}

.actions{
text-align: center;
}

.approved{
  color: black;
  font-weight: 900;
}

.not-approved{
  color: gray;
  font-weight: 900;
}

.menuicon{
  color:white;
}

//アラートの下余白を削除
.alert{
  margin-bottom: 0px;
}

.common-table{
  white-space: nowrap;
  font-weight: 900;
  th{
    text-align: center;
    padding: 0rem 2rem 0rem 2rem;
  }
  td{
    text-align: center;
  }
}

/* ボタン類 */
.btn{
  background-color: #428bca;
  color: white;
  &:hover{
    opacity:0.8;
    color: white;
  }
}

.account_delete_button{
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: darkred;
  color: white;

  &:hover{
    opacity:0.8;
  }
}

//検索ボタン
.ransack-submit{
  input[type="submit"]{
    margin-top:1rem;
    margin-bottom:1rem;
    width:100px;
    line-height:35px;
    font-size:16px;
    background-color:#16A6B6;
    border:none;
    border-radius: 5px;
    color:#fff;
    cursor: pointer;
    transition: 0.3s;
    display:block;
    &:hover{
      opacity:0.8;
    }
  }
}

/* シフト申請ページ */
.toppage-font{
  color: #0F3284;
  text-align: center;
  font-size: 30px;
  margin-bottom: 24px;
  font-weight: 900;
}

/* シフト申請ページ */

.timezones-checkbox{
  margin-right: 1rem;
}

.schedule-request-button{
  margin: 1rem 0rem 1rem 0rem;
}

.request-schedule-field{
  margin: 0.1rem 0rem 0rem 0rem;
}

/* カレンダーページ */
.calender-table{
  font-weight: 900;
  margin: 1rem auto 1rem auto;
  white-space: nowrap;
  th {
    background: #295554;
    color: #fff;
    text-align: center;
    padding: 0rem 1rem;
  }
  td {
    text-align: center;
    font-size: 0.9em;
  }
  .saturday{
    color: cyan;
  }
  .sunday{
    color: rgb(255, 64, 64);
  }
  .no-settings{
    background-color: white;
    color: black;
  }
  //従業員の勤務時間帯でth色変更
  .morning{
    background-color: yellow;
    color: black;
  }
  .noon{
    background-color: lightgreen;
    color: black;
  }
  .evening{
    background-color: forestgreen;
    color: black;
  }
  .night{
    background-color: lightblue;
    color: black;
  }
  .manager{
    background-color: orange;
    color: black;
  }
}





.modal-content{
  padding: 2rem;
}

.flex{
  display: flex;
  flex-wrap: wrap;
}

.common-justify-content-center{
  justify-content: center;
}


//スマホ対応
@media screen and (max-width: 768px) {
  .field{
    width: 100%;
    margin: 0 auto;
  }

  .common-table{
    white-space: nowrap;
    font-weight: 900;
    th{
      text-align: center;
      padding: 0rem;
    }
    td{
      text-align: center;
    }
  }
}
