@import "normalize";
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import "toastr";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */

body {
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

//削除予定
.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  // line-height: 0.7em;
}


/* header */

#logo {
  float: left;
  // margin-right: 10px;
  font-size: 1.7em;
  color: white;
  // text-transform: uppercase;
  letter-spacing: -1px;
  // padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}


/* other */
.request_timezone {
  p {
    line-height: 0em;
  }
}

.calender-table{
  font-weight: 500;
  margin: 1rem auto 1rem auto;
  th {
    background: #295554;
    color: #fff;
    text-align: center;
    padding: 0rem 0.5rem 0rem 0.5rem;
  }
  td {
    text-align: center;
  }
  .saturday{
    color: cyan;
  }
  .sunday{
    color: red;
  }
  .no-settings{
    background-color: white;
    color: black;
  }
  .morning{
    background-color: yellow;
    color: black;
  }
  .noon{
    background-color: lightgreen;
    color: black;
  }
  .evening{
    background-color: forestgreen;
    color: black;
  }
  .night{
    background-color: lightblue;
    color: black;
  }
  .manager{
    background-color: orange;
    color: black;
  }
}

// .navbar{
  // background-color: darkcyan;
// }

.not-approved{
  color: darkred;
}

.timezones-checkbox{
  margin-right: 1rem;
}

.menuicon{
  color:white;
}

.schedule-request-button{
  margin: 1rem 0rem 1rem 0rem;
}

//アラートの下余白を削除
.alert{
  margin-bottom: 0px;
}