.inquiries-index-item {
  padding: 20px 30px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}

.inquiry-left {
  float: left;
  width: 15%;
}

.inquiry-right {
  float: left;
  width: 85%;
  padding-left: 25px;
  text-align: left;
}
