/* シフト申請ページ */
.toppage-font{
  color: #0F3284;
  text-align: center;
  font-size: 30px;
  margin-bottom: 24px;
  font-weight: 900;
}

/* シフト申請ページ */

.timezones-checkbox{
  margin-right: 1rem;
}

.schedule-request-button{
  margin: 1rem 0rem 1rem 0rem;
}

.request-schedule-field{
  margin: 0.1rem 0rem 0rem 0rem;
}

//スマホ対応
@media screen and (max-width: 768px) {
  .schedule-request-button-area{
    text-align:right;  
  }
  .schedule-request-button-area-change-position{
    position:relative;
    bottom:7rem;
  }
  .schedule-request-button-area-change-position-admin{
    position:relative;
    bottom:5rem;
  }
}
