/* カレンダーページ */
.calender-table{
  font-weight: 900;
  margin: 1rem auto 1rem auto;
  th {
    background: #295554;
    color: #fff;
    text-align: center;
    padding: 0rem 1rem;
  }
  td {
    text-align: center;
    font-size: 0.9em;
  }
  .saturday{
    color: cyan;
  }
  .sunday{
    color: rgb(255, 64, 64);
  }
  .no-settings{
    background-color: white;
    color: black;
  }
  //従業員の勤務時間帯でth色変更
  .morning{
    background-color: yellow;
    color: black;
  }
  .noon{
    background-color: lightgreen;
    color: black;
  }
  .evening{
    background-color: forestgreen;
    color: black;
  }
  .night{
    background-color: lightblue;
    color: black;
  }
  .manager{
    background-color: orange;
    color: black;
  }
  .user-comment{
    background-color: #fff;
    color: black;
    text-align: left;
  }
}

.common-table{
  font-weight: 900;
  th{
    text-align: center;
    padding: 0rem 2rem 0rem 2rem;
  }
  td{
    text-align: center;
  }
}

//テーブルの左端を固定
.table-fixed {
  th:first-child, td:first-child {
    position: sticky;  position: -webkit-sticky;
    left: 0;
  }
}

.modal-content{
  padding: 2rem;
}

//スマホ対応
@media screen and (max-width: 768px) {
  .common-table{
    font-weight: 900;
    th{
      text-align: center;
      padding: 0rem;
    }
    td{
      text-align: center;
    }
  }
}
