<% if @resource.try(:unconfirmed_email?) %>
  <p>メールアドレスを<%= @resource.unconfirmed_email %>に変更されることを通知いたします。</p>
<% else %>
  <p>メールアドレスを<%= @resource.email %>に変更されることを通知いたします。</p>
<% end %>

<p>なお、このメールに心当たりのない方は、このメールを破棄して下さい。</p>
